.vscode/
.vs/
.idea/
/Siemens.SiSuite.SIPORTAgent.Host/obj
/Siemens.SiSuite.SIPORTAgent.Host/Siemens.SiSuite.SIPORTAgent.Host.csproj.user
/Siemens.SiSuite.SIPORTAgent.Host/bin/Debug
/Siemens.SiSuite.SIPORTAgent.IntegrationTest/obj
/Siemens.SiSuite.SIPORTAgent.IntegrationTest/bin/Debug
/Siemens.SiSuite.SIPORTAgent.Test/bin
/Siemens.SiSuite.SIPORTAgent.Test/obj
/Siemens.SiSuite.SIPORTAgent.PactTest/bin
/Siemens.SiSuite.SIPORTAgent.PactTest/obj
/Siemens.SiSuite.SIPORTAgent.PerformanceTest/bin
/Siemens.SiSuite.SIPORTAgent.PerformanceTest/obj
/Siemens.SiSuite.SIPORTAgent.BehaviorTest/bin
/Siemens.SiSuite.SIPORTAgent.BehaviorTest/obj
/Siemens.SiSuite.SIPORTAgent.BehaviorTest/testsettings.json
/Synch-Agent-SIPORT/pact

#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
#Nuget packages folder
packages/

.idea/
.history


/site/*
/docker/sbc-agent/data/badger/
